mat-form-field {
    width: 100%;
}

.mat-icon {
    color: #333333 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #f5f5f5 !important;
    border-radius: 8px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #333333 !important;  
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #333333 !important;  
}

.div.mdc-line-ripple.mdc-line-ripple--active {
    background-color: white !important;
    color: #f5f5f5 !important;
    outline: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}