<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>{{literals.email}}</mat-label>
        <input required matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{literals.password}}</mat-label>
        <input required matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    <div class="center">
        <button mat-button type="submit" [disabled]="!formGroup.valid">
            {{literals.login}}
        </button>
    </div>
    <p class="center">
        ¿No tienes cuenta?
        <button mat-button (click)="onClickRegister($event)">Regístrate</button>
    </p>
</form>
