<mat-list class="list" role="list">
  @for (expenseDate of expenseDates; track expenseDate.date) {
  <div>
    <mat-list-item>{{ expenseDate.date }}</mat-list-item>
    @for (expense of expenseDate.expenses; track expense.id) {
    <mat-list-item role="listitem">
      <div class="flex">
        <span>{{ expense.description }}</span>
        <span>{{ expense.amount }}€</span>
      </div>
    </mat-list-item>
    <mat-divider class="divider-color"></mat-divider>
    }
  </div>
  } @empty {
  <div>
    <mat-list-item>There are no items.</mat-list-item>
  </div>
  }
</mat-list>
