.flex {
    display: flex;
    justify-content: space-around;
}
.divider-color {
    border-top-color: #00dddd;
}
.list {
    margin-top: 5%;
    width: 22rem;
    background-color: #348787;
    border-radius: 8px;
    flex-grow: 1;
    border: 3px solid #ffdcc7;
    overflow: auto;
}

mat-list {
    
}