<mat-list class="expense-list" role="list">
  @for (expenseDate of expenseDates; track expenseDate.date) {
  <div class="expense-date">
    <mat-list-item class="date-item">{{ expenseDate.date }}</mat-list-item>
    @for (expense of expenseDate.expenses; track expense.id) {
    <div class="expense-item">
      <mat-list-item
        role="listitem"
        class="expense-list-item"
        routerLink="/transactions/{{ expense.id }}"
      >
        <div class="flex expense-details">
          <span class="expense-description">{{ expense.description }}</span>
          <span class="expense-amount">{{ expense.amount }}€</span>
        </div>
      </mat-list-item>
    </div>
    }
  </div>
  } @empty {
  <div class="empty-message">
    <mat-list-item>No hay elementos.</mat-list-item>
  </div>
  }
</mat-list>
