<div>
  <div class="mat-group">
    <mat-tab-group 
      animationDuration="0ms" 
      (selectedTabChange)="setTransactionType($event)"
      [selectedIndex]="transactionTypeIndex"
    >
      <mat-tab class="mat-tab" label={{literals.expenses}}
        ><app-transactions-list [type]="transactionType" [transactionDates]="transactionDates"></app-transactions-list
      ></mat-tab>
      <mat-tab class="mat-tab" label={{literals.revenues}}
        ><app-transactions-list [type]="transactionType" [transactionDates]="transactionDates"></app-transactions-list
      ></mat-tab>
    </mat-tab-group>
  </div>
  @if (transactionSummary.isLoaded) {
    <app-transaction-summary [transactionSummary]="transactionSummary"></app-transaction-summary>
  }
  <app-pie-chart [transactionDates]="transactionDates" [type]="transactionType"></app-pie-chart>
  <div class="flex">
    <app-fab-button [type]="transactionType"></app-fab-button>
  </div>
</div>
