<div>
  <div class="mat-group">
    <mat-tab-group 
      animationDuration="0ms" 
      (selectedTabChange)="setTransactionType($event)"
      [selectedIndex]="transactionTypeIndex"
    >
      <mat-tab label="Expenses"
        ><app-transactions-list [type]="transactionType"></app-transactions-list
      ></mat-tab>
      <mat-tab label="Revenues"
        ><app-transactions-list [type]="transactionType"></app-transactions-list
      ></mat-tab>
    </mat-tab-group>
  </div>
  <div class="flex">
    <app-fab-button [type]="transactionType"></app-fab-button>
  </div>
</div>
