
.flex {
    display: flex;
}

app-fab-button {
    margin-left: auto;
    padding: 4% 4% 0% 0%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.mdc-tab__text-label {
    color: #333333 !important;
}

.mid-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}