<div class="auth-container">
    <div *ngIf="!isLoginMode" [ngClass]="{'animate__animated': true, 'animate__fadeInDown': !isLoginMode, 'animate__fadeOutUp': isLoginMode}" >
        <app-registration-form (switchToLogin)="toggleLoginMode()"></app-registration-form>
    </div>
    
    <div *ngIf="isLoginMode" [ngClass]="{'animate__animated': true, 'animate__fadeInDown': isLoginMode, 'animate__fadeOutUp': !isLoginMode}">
        <app-login-form (switchToRegister)="toggleLoginMode()"></app-login-form>
    </div>
</div>