<div class="auth-container">
    <div *ngIf="!isLoginMode && !isVerificationMode" [ngClass]="{'fade-in-down': !isLoginMode, 'fade-out-up': isLoginMode, 'input-form': true}" >
        <app-registration-form (switchToLogin)="toggleLoginMode()" (switchToVerification)="toggleVerificationMode()"></app-registration-form>
    </div>

    <div *ngIf="isVerificationMode" [ngClass]="{'fade-in-right': isVerificationMode, 'fade-out-right': !isVerificationMode, 'input-form': true}">
        <app-verification-form></app-verification-form>
    </div>

    <div *ngIf="isLoginMode && !isVerificationMode" [ngClass]="{'fade-in-down': isLoginMode, 'fade-out-up': !isLoginMode, 'input-form': true}">
        <app-login-form (switchToRegister)="toggleLoginMode()" (switchToVerification)="toggleVerificationMode()"></app-login-form>
    </div>
</div>