@if ((this.operationType === 'modify' && !this.transaction) || this.isLoading) {
  <div class="mid-center">
    <mat-spinner></mat-spinner>
  </div>
}
<form
  *ngIf="operationType !== 'modify'"
  [formGroup]="profileForm"
  (ngSubmit)="onCreate()"
>
  <mat-tab-group
    animationDuration="0ms"
    (selectedIndexChange)="onTransactionTypeChange($event)"
    selectedIndex={{transactionTypeIndex}}
  >
    <mat-tab label={{literals.expense}}></mat-tab>
    <mat-tab label={{literals.revenue}}></mat-tab>
  </mat-tab-group>
  <mat-chip-listbox
    class="mat-mdc-chip-set-stacked"
    aria-label="Cutest dog breeds"
    formControlName="category"
    required
  >
    @for (category of categories; track category) {
    <mat-chip-option>{{ category }}</mat-chip-option>
    }
  </mat-chip-listbox>
  <div class="right">
    <button mat-button>{{literals.showMore}}</button>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>{{literals.amount}}</mat-label>
    <input required matInput type="number" formControlName="amount" />
    <mat-icon matSuffix>paid</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{literals.description}}</mat-label>
    <input required matInput type="text" formControlName="description" />
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>

  <div class="center">
    <button mat-button type="submit" [disabled]="!profileForm.valid">
      {{literals.create}}
    </button>
  </div>
</form>

<form
  *ngIf="operationType === 'modify' && transaction"
  [formGroup]="profileForm"
  (ngSubmit)="onModify()"
>
  <mat-chip-listbox
    class="mat-mdc-chip-set-stacked"
    aria-label="Cutest dog breeds"
    formControlName="category"
    required
  >
    @for (category of categories; track category) {
    <mat-chip-option>{{ category }}</mat-chip-option>
    }
  </mat-chip-listbox>
  <div class="right">
    <button mat-button>{{literals.showMore}}</button>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>{{literals.amount}}</mat-label>
    <input required matInput type="number" formControlName="amount" />
    <mat-icon matSuffix>paid</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{literals.description}}</mat-label>
    <input required matInput type="text" formControlName="description" />
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>

  <div class="center">
    <button
      mat-button
      type="submit"
      [disabled]="!formValuesChanged() || !profileForm.valid"
    >
      {{literals.saveChanges}}
    </button>
  </div>
  <div class="center">
    <button type="button" mat-button (click)="onDelete()">
      <span class="red">{{literals.delete}}</span>
    </button>
  </div>
</form>
