mat-form-field {
    width: 100%;
}

mat-chip-listbox {
    padding: 1%
}

.flex {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
}

.right button {
    margin-left: auto;
}