mat-form-field {
    width: 100%;
}

mat-chip-listbox {
    padding: 1%
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
}

.right button {
    margin-left: auto;
}

.red {
    color: rgba(255, 0, 0, 0.689);
}