.transaction-list {
  background-color: #FAFAFA;
  border-radius: 12px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 20px;
  color: #333333;
  min-height: 15vh;
  max-height: 50vh;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.date-item {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-bottom: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
.transaction-date {
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #333333;
  padding-bottom: 10px;
}

.date-item-span {
  color: #333333;
  font-weight: 400;
}

.last-transaction {
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #333333;
  padding-bottom: 10px;
}
.transaction-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.transaction-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #333333;
}
.transaction-description {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  color: #007AFF;
}
.empty-message {
  text-align: center;
  color: #FF6F61;
  font-size: 14px;
  margin-top: 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mdc-list {
  padding: 0px;
}

.mid-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}