/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

:root {
  @include mat.form-field-overrides((
    caret-color: #007aff,
    focus-active-indicator-color: #007aff,
    focus-label-text-color: #007aff,
  ));
}

html, body { height: 100%; background-color: #FAFAFA;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }