<mat-card class="mat-card" appearance="outlined">
    <mat-card-content class="flex">
        <span>{{literals.totalRevenue}}:</span>
        <span class="revenue bold">{{ this.totalRevenue }}€</span>
    </mat-card-content>
    <mat-card-content class="flex">
        <span>{{literals.totalExpense}}:</span>
        <span class="expense bold">{{ this.totalExpense }}€</span>
    </mat-card-content>
    <mat-card-content class="flex">
        <span>{{literals.totalMoney}}:</span>
        <span class="gold bold">{{ this.totalMoney }}€</span>
    </mat-card-content>
</mat-card>
