.mat-card {
    background-color: #FFFFFF;
    color: #333333;
    margin: 0px 20px 20px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.outlined {
    text-decoration: underline;
}

.bold {
    color: #333333;
    font-weight: bold;
}

.revenue {
    color: #28C76F;
}
.expense {
    color: #EA5455;
}

.flex {
    display: flex;
    justify-content: space-between;
}